<div class="container">
  <div class="row center_text">
    
    <div class="col-sm-4 col-sm-offset-4">

      <h2>Zarejestruj się!</h2>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
      
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      
        <div class="field">
          <%= f.label :password, "Hasło" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> znaków minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation, "Potwierdzenie hasła" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Zarejestruj się" %>
        </div>
      <% end %>
      
      <%= render "devise/shared/links" %>
      </div>
      </div>
      </div>
