<div class="container">
  <div class="row">
    <% if current_user.admin? %>
    <div class="col-sm-10">
      <h1 class="page-header">Użytkownicy</h1>
    </div>

        <% @users.each do |user| %>
        <div class ="row">
            <div class="col-sm-10">
            <p><b>Nazwa użytkownika: </b><%= user.email %></p>
            <p>Utworzony: <%= user.created_at.strftime("%d"+"."+"%m"+"."+"%Y") %></p>
            <p>Ilość zdjęć: <%= user.photos.count %></p>
            <p>Ilość albumów: <%= user.albums.count %></p>
            
               <p><%= link_to 'Usuń użytkownika', user, method: :delete, data: {confirm: "Czy jesteś pewien? Usunięte zostaną również zdjęcia i albumy tego użytkownika! #{user.email}"}, class: "btn btn-danger" %></p>
            </div>
        </div></br>
        <% end %>
    <% else %>
    <p>Nie masz uprawnień do oglądania tej strony!</p>
    </div>
    <% end %>
      </div>
  </div>