<div class="container">
  <div class="row center_text">
    
    <div class="col-sm-4 col-sm-offset-4">

<h2>Zmień swoje hasło</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nowe hasło" %><br />
    <% if @minimum_password_length %>
      <em>(Minimalna ilość znaków: <%= @minimum_password_length %>)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Potwierdź nowe hasło" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Zmień moje hasło", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
</div>
