<div class="container">
  <div class="row center_text">
    
    <div class="col-sm-4 col-sm-offset-4">

<h2>Zapomniałeś hasła?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, 'E-mail' %><br />
    <%= f.email_field :email, placeholder: 'Twój adres e-mail', autofocus: true %>
  </div>
</br>
  <div class="actions">
    <%= f.submit "Prześlij instrukcje resetowania hasła", class: "btn btn-primary" %>
  </div>
<% end %>
</br>
<%= render "devise/shared/links" %>
</div>
</div>
</div>