<div class="container">
      <div class="jumbotron" id="tablica">
        <h1> Witaj w serwisie Snapshot!</h1>
        <p>Serwis Snapshot jest to aplikacja napisana jako temat pracy inżynierskiej na WSB w Dąbrowie Górniczej</p>
        <p>Aplikacja została napisana we frameworku Ruby on Rails.</p>
        <p>Funkcjonalności:</p> 
        <p>(tworzenie i usuwanie, konto admina), rejestracja (sprawdzanie błędów przy rejestracji, zmiana hasła przez link w e-mailu)</p>
        <p>Dodawania, usuwanie, edytowanie albumów i zdjęć(konwersja do 3 roździelczości)</p>
        <p>Albumy i zdjęcia z opcją is_private</p>
        <p>Stylizacja frameworkiem Bootstrap</p>
        <p>I inne...</p>
        <%= link_to "Zarejestruj się!", new_user_registration_path, class: "btn btn-lg btn-success" %>
      </div>

    </div>