<%= form_for @album do |f| %>
      <div class="form-group">
        <%= f.label :title, "Tytuł albumu" %> <br>
        <%= f.text_field :title, placeholder: "Wpisz tytuł", class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :is_private, "Album prywatny?" %> <br>
        <%= f.radio_button :is_private, 'true' %> Tak
        <%= f.radio_button :is_private, 'false' %> Nie
      </div>
      
      <div class="form-group">
        <%= f.submit 'Zapisz', class: "btn btn-primary" %>
        <%= link_to 'Anuluj', @album, class: "btn" %>
      </div>
      
<% end %>
