<div class="container">
    <div class="row">
        <div class="col col-sm-10">
<%= count_albums(@albums) %>

<% @albums.each do |album| %>

  <div>
    <%= link_to [album] do %>
      <h2><%= album.title %></h2>
    <% end %>
    
    <% if (album.photos.count > 0) %>
      <%= image_tag album.photos.first.file(:medium), class: "img-responsive" %>
    <% end %>
    <p>Dodano <%= album.created_at.strftime("%d"+"."+"%m"+"."+"%Y") %></p>
    <p>Ilość zdjęć w albumie: <%= album.photos.count %></p>
  </div>
<% end %>

</div>
</div>
</div>
