<% content_for :page_title do @album.title end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <% if ((@album.is_private? && !user_signed_in?) || (@album.is_private? && current_user.id != @album.user_id)) %>
      <p>Nie masz uprawnień do oglądania tego albumu!</p>
    <% else %>
      <h1 class="page-header"><%= @album.title %></h1>
      
      <%- if (user_signed_in? && current_user.id == @album.user_id) %>
        <%= link_to 'Edytuj album', edit_album_path(@album), class: "btn btn-primary" %>
        <%= link_to 'Usuń album', album_path, method: :delete, data: {confirm: "Czy jesteś pewien?"}, class: "btn btn-warning" %>
      <% end %>
      
      <p><b>Dodano:</b> <%= @album.created_at.strftime("%d"+"."+"%m"+"."+"%Y") %></p>
      <p><b>Ilość zdjęć w albumie: </b><%= @album.photos.count %></p>
      <p><b>Link do albumu: </b><%= request.original_url %></p>
      <p><b>Prywatny? </b><%= @album.is_private ? "Tak." : "Nie." %></p>
      
      <% @album.photos.each do |photo| %>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <%= link_to photo, class: "thumbnail" do %>
          <%= image_tag photo.file.url(:medium), class: "img-responsive" %>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>

