<div class="container">
  <div class="row center_text">
    
    <div class="col-sm-4 col-sm-offset-4">
      <h2>Zaloguj się</h2>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, 'E-mail' %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      
        <div class="field">
          <%= f.label :password, 'Hasło' %><br>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, 'Zapamiętaj mnie', class: "form-check-label" %>
            </div>
        <% end -%>
      
        <div class="actions">
          <%= f.submit "Zaloguj" %>
        </div>
      <% end %><br>
      <%= render "devise/shared/links" %>
    </div>
    
</div>
</div>



