<%= form_for @photo, html: { :multipart => true } do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Tytuł zdjęcia' %> <br>
    <%= f.text_field :title, placeholder: "Wpisz tytuł", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :file, 'Plik' %> <br>
    <%= f.file_field :file, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :album %> <br>
    <%= collection_select(:photo, :album_id, current_user.albums, :id, :title, {prompt: 'Wybierz album'}, {class: "form-control"})%>
  </div>
  
  <div class="form-group">
    <%= f.label :is_private, "Prywatne?" %> <br>
    <%= f.radio_button :is_private, 'true' %> Tak
    <%= f.radio_button :is_private, 'false' %> Nie
  </div>
  
  <div class="form-group">
    <%= f.submit 'Zapisz', class: "btn btn-primary"%>
    <%= link_to 'Anuluj', @photo, class: "btn" %>
  </div>
<% end %>