<div class="container">
     <div class="row"></div>
        <div class="col col-sm-4">
    <h1>Edytuj zdjęcie </h1>
    Aktualne zdjęcie: <br>
    <%= image_tag @photo.file.url(:medium) %>
    
    <%= render 'form' %>
    </div>
    </div>
</div>