<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Galeria Twoich zdjęć</h1>
    </div>
    
    <%= count_photos(@photos) %>

    <% @photos.each do |photo| %>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <%= link_to photo, class: "thumbnail" do %>
          <%= image_tag photo.file.url(:medium), class: "img-responsive" %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>