<div class="container">
  <div class="row">
        <div class="col col-sm-4">
  <% content_for :page_title do @photo.title end %>
  
  <% if ((@photo.is_private? && !user_signed_in?) || (@photo.is_private? && current_user.id != @photo.user_id)) %>
    <p>Nie masz uprawnień do oglądania tego zdjęcia!</p>
  <% else %>
    <h2>Tytuł: <%= @photo.title %></h2>
    <p><b>Album:</b> <%=have_title(@photo) %></p>
    <p><b>Dodano:</b> <%= @photo.created_at.strftime("%d"+"."+"%m"+"."+"%Y") %></p>
    <p><b>Prywatny? </b><%= @photo.is_private ? "Tak." : "Nie." %></p>
    <p>
      <a href = "<%= URI.join(request.url, @photo.file.url) %>">Bezpośredni link do zdjęcia</a>
    </p>
    <%= image_tag @photo.file.url(:large), class: "img-responsive" %> <br>
    
    <%- if (user_signed_in? && (current_user.id == @photo.user_id)) %>
      <%= link_to 'Edytuj', edit_photo_path(@photo), class: "btn btn-primary" %>
      <%= link_to 'Usuń', photo_path, method: :delete, data: {confirm: "Czy jesteś pewien?"}, class: "btn btn-warning" %>
    <% end %>
  <% end %>
</div>
</div>
  </div>
