#logo {
  float: left;
  font-size: 2em;
  color: #41e5dd;
  font-weight: bold;
}

#logo:hover {
  color: #ddd;
  text-decoration: none;
}

.red {
    color: red !important;
}


/*body*/
body {
  background-color: #eee;
}

#tablica{
    color: white;
    text-shadow: 2px 2px #222;
    background-color: #1a535c;
}

.center_text {
    text-align: center;
}

.left_text {
    text-align: left;
}

/*footer*/

.footer{
    color: #ddd;
    text-align: center;
}
/*flash*/
.alert-error {
    color: #b94a48;
    text-align: center;
    border-color: #eed3d7;
    background-color: #f2dede;
 }

.alert-alert {
    color: #b94a48;
    text-align: left;
    border-color: #eed3d7;
    background-color: #f2dede;
 }

.alert-success {
    color: #468847;
    text-align: left;
    border-color: #d6e9c6;
    background-color: #dff0d8;
 }

.alert-notice {
    color: #468847;
    text-align: left;
    border-color: #d6e9c6;
    background-color: #dff0d8;
 }