<p>Witaj <%= @email %>!</p>

<p>Możesz potwierdzić swój adres e-mial klikając w poniższy link:</p>

<p><%= link_to 'Zatwierdź moje konto', confirmation_url(@resource, confirmation_token: @token) %></p>
