<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś zażądał linku do zmiany Twojego hasło. Możesz to zrobić klikając w poniższy link.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeżeli nie chciałeś zmieniać swojego hasła to zignoruj tą wiadomość.</p>
<p>Twoje hasło się nie zmieni dopóki nie klikniesz w powyższy link i stworzysz nowe.</p>

