<p>Witaj <%= @resource.email %>!</p>

<p>Twoje konto zostało zablokowane ze względu na zbyt dużo nieudanych prób zalogowania.</p>

<p>Kliknij w poniższy link w celu odblokowania konta:</p>

<p><%= link_to 'Odblokuj moje konto', unlock_url(@resource, unlock_token: @token) %></p>
