<nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Snapshot", root_path, class: 'navbar-brand', id: "logo" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <%- if user_signed_in? %>
              <% if current_user.admin? %>
                <li><%= link_to 'Użytkownicy', users_path, class: "red" %></p>
              <% end %>
              <li><%= link_to 'Stwórz album', new_album_path %></p>
              <li><%= link_to 'Dodaj zdjęcie', new_photo_path %></p>
              <li><%= link_to 'Twoje albumy', albums_path %></p>
              <li><%= link_to 'Twoje zdjęcia', photos_path, class: "active" %></p>
              <li><%= link_to "Wyloguj (#{current_user.email})", destroy_user_session_path, :method => :delete %></li>
          <%- else %>
              <li><%= link_to 'Zaloguj', new_user_session_path  %></li>
              <li><%= link_to 'Zarejestruj się', new_user_registration_path  %></li>
        <% end -%>
          </ul>
        </div>
      </div>
    </nav>