<!DOCTYPE html>
<html>
  <head>
    
    <title>
      <% if content_for? :page_title %>
        <%= yield :page_title %> – Snapshot
      <% else %>
        Snapshot
      <% end %>
    </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%=render 'layouts/footer' %>
  
  </body>
</html>
